.chat-main__group-info
  .chat-main__group-info__name
    = @group.name
    .chat-main__group-info__name__member
      member:
      - @group.users.each do |user|
        = user.name
  .chat-main__group-info__edit
    = link_to "#",class: "under-line" do
      .chat-main__group-info__edit__btn
        = link_to edit_group_path(@group) do
          Edit
.chat-main__message-list
  = render @messages
.chat-main__message-form
  = form_for [@group, @message] do |f|
    .chat-main__message-form__imput-form
      = f.text_field :content, class: 'text-form', placeholder: 'type a message', id: 'text-content'
      .chat-main__message-form__imput-form__photo
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class:'none'
    = f.submit 'Send', class: 'send-line'
        
