.side-bar__user-name
  .side-bar__user-name__top-items
    .ide-bar__user-name__top-items__name
      = current_user.name
    .ide-bar__user-name__top-items__icons
      = link_to new_group_path, class:"icons__btn" do
        = icon('fas', 'edit')
      = link_to edit_user_path(current_user), class:"icons__btn" do
        = icon('fas', 'cog')
.side-bar__group-list
  .side-bar__group-list__n
    .side-bar__group-list__n__group-name
      techcamp
    .side-bar__group-list__n__group-message
      まだメッセージはありません
  .side-bar__group-list__n
    .side-bar__group-list__n__group-name
      techcamp2
    .side-bar__group-list__n__group-message
      まだメッセージはありません
  - current_user.groups.each do |group|
    .group
      = link_to '#' do
        .group__name
          = group.name
          .group__message
            メッセージはまだありません。
